@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: "Montserrat";
}


.cardBtn{
    margin-top: 5px;
    border: none;
    background-color: rgb(125, 87, 160);
    color: white;
    font-size: 15px;
    box-shadow: 1px 1px 3px grey;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.4em 2em;
    position: absolute;
    margin-left: 25%;
    display: none;
}
.cardBtn:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: 120ms;
}
.cards-over {
    padding-bottom: 4em;
}
.cards-over:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.02);
    transition: 120ms;
    box-shadow: 1px 1px 8px grey;
}


/* Modal estilo */

#closeModal {
    border: none;
    font-size: large;
    background: transparent;
    font-weight: 800;
    color: grey;
    margin-left: 95%;

}
#closeModal:hover {
    color: rgb(148, 93, 93);
    transition: 140ms;
}

#modalBtn{
    margin-top: 5px;
    border: none;
    background-color: rgb(125, 87, 160);
    color: white;
    font-size: 15px;
    box-shadow: 1px 1px 3px grey;
    font-weight: 500;
    border-radius: 10px;
    padding: 0.4em 2em;
}
#fadeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: 5;
}
#modalSec {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    top: 3%;
    background-color: #fff;
    z-index: 10;
    max-width: 90%;
    border-radius: 1rem;

    animation: modalAnimation 0.5s ease-in-out;
}
#modalHeader{
    padding: 1.5rem;
}
#modalSec h2 {
    font-size: 25px;
    font-weight: 300;
}
#modalBody{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#modalFooter{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
#modalBtn:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: 120ms;
    cursor: pointer;
}

#modalSec.hide,
#fadeModal.hide {
    display: none;
}

#fadeModal,
#ModalSec {
    transition: .5s;
    pointer-events: all;
}

#modalAlinhamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


@keyframes modalAnimation {
    from {
        transform: translateY(-10%);
    }
    to {
        transform: translateX(0%);
    }
}